# Dependencies
node_modules

# Build
dist

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Coverage
coverage
